.Name{
    
    background-color:rgb(8, 15, 45);
}
.Name__contenedor{
    max-width: 1600px;
    margin: 0 auto;
}
.Name h1{
    font-size: 40px;
    text-align: center;
    font-family: "Newsreader", serif;
    color: #ffde35;
    margin: 0;
    padding: 50px 0;
}

@media(max-width: 900px){
    .Name h1{
    font-size: 35px;
}
}

@media(max-width: 600px){
    .Name h1{
    font-size: 25px;
}
}