.convenios__contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1600px;
    margin: 0 auto;
    padding: 50px 0;
   align-items: center;
   place-items: center;
   /* gap: 20px; */
   row-gap: 50px;
  

}
.convenios{
    background-color: white;
}

@media(max-width: 900px){
    .convenios__contenedor{
    grid-template-columns: repeat(3, 1fr);
    }   

}
/* 
@media(max-width: 600px){
    .convenios__contenedor{
    grid-template-columns: repeat(1, 1fr);
    }    */

