/* src/components/Organigram.css */
.organigram-container {
  display: flex;
  flex-direction: column; /* Coloca las secciones una debajo de la otra */
  align-items: center;   /* Centra las secciones horizontalmente */
  padding: 20px;
  /* background-color: #fff; */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(252, 250, 250, 0.25); /* Sombra sutil para el contenedor principal */ 
  /* max-width: 1600px;    */
    /* Ancho máximo del organigrama */
  margin: 20px auto;     /* Centrar el contenedor del organigrama en la página */
}

.organigram-section {
  display: flex;            /* Convierte cada sección en un contenedor flex para las tarjetas */
  justify-content: center;  /* Centra las tarjetas dentro de la sección */
  flex-wrap: wrap;          /* Permite que las tarjetas salten de línea si no caben */
  width: 100%;              /* Ocupa todo el ancho del contenedor */
  margin-bottom: 0;      /* Espacio entre filas de secciones */
}


.organigram-section.level-1,
.organigram-section.level-2,
.organigram-section.level-3,
.organigram-section.level-4,
.organigram-section.level-5 {
  max-width: 70%; /* Las filas con más elementos, ocupan más ancho */
}

.organigram-spacer {
  height: 30px; /* Altura del espacio */
  width: 100%;
  border-bottom: 1px solid #eee; /* Línea divisoria suave */
  margin-bottom: 20px;
}

.organigram-junta-title {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #666;
  font-size: 1.2em;
  font-weight: normal;
}