.turismo{
    width: 100%;
  height: 70vh; 
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0;

}